<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <style>
            td.details-control {
                background: url('details_open.png') no-repeat center center;
                cursor: pointer;
            }
            tr.shown td.details-control {
                background: url('details_close.png') no-repeat center center;
            }
        </style>
        <script>

            function formatDiv(data) {
                format(data);
                return '<span id=subUserDiv></span>';
            }

            function format ( data ) {
                var id = data.id;
                var content = '';
                $.get("http://localhost:8082/subscriptions/"+id, function(result) {
                    content += '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
                    for(idx in result.subscriptionUsers) {
                        var u  = result.subscriptionUsers[idx];
                        content += formatRow('Id:', u.id);
                        content += formatRow('Name:', u.firstName+' '+u.lastName);
                        content += formatRow('Email:', u.email);
                        content += formatRow('OpenId:', u.openId);
                        content += formatRow('Administrator:', u.administrator);
                    }
                    content += '</table>';

                    $('#subUserDiv').html(content);
                });
            }
            function formatRow(label, value) {
                var row = '';
                row += '<tr>';
                row += '<td>'+label+'</td>';
                row += '<td>'+(value == null ? '' : value)+'</td>';
                row += '</tr>';
                return row;
            }
            $(document).ready(function () {
                var table = $('#subscriptionsTable').DataTable({
                    "sAjaxSource": "/subscriptions",
                    "sAjaxDataProp": "",
                    "order": [[1, "asc"]],
                    "aoColumns": [
                        {
                            "className":      'details-control',
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": ''
                        },
                        {"mData": "id"},
                        {"mData": "accountIdentifier"},
                        {"mData": "adminUser"},
                        {"mData": "companyName"},
                        {"mData": "editionCode"},
                        {"mData": "state"},
                        {"mData": "maxOrderItems"}
                    ]
                });

                $('#subscriptionsTable tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row( tr );

                    if ( row.child.isShown() ) {
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        row.child( formatDiv(row.data()) ).show();
                        tr.addClass('shown');
                    }
                } );
            });


        </script>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Subscriptions</strong></div>
                <div class="panel-body">
                    <p>Following table lists all the subscriptions and to see assigned user please click on '+' icon on respective row.</p>
                </div>
                <table id="subscriptionsTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Account Identifier</th>
                            <th>Administrator</th>
                            <th>Company</th>
                            <th>Edition</th>
                            <th>State</th>
                            <th>Max Users</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </body>

</html>